<div id="<%= dom_id(photo) %>_likes">
  <div class="d-flex align-items-center">
  
    <%= pluralize(photo.likes_count, "like") %>

    <% like = current_user.likes.find_by(photo: photo) %>

    <% if like %>
      <%= render "likes/delete_link", like: like %>
    <% else %>
      <%= render "likes/form", like: photo.likes.build(fan: current_user) %>
    <% end %>
  </div>
</div>
